ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 230, 191)
}

li { 
    float: left;
}

li a {
    display: block;
    color:aliceblue
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}